
/**
 *  1. Fonts 
 **/

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

/**
 *  2. Reset 
 **/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 *  3. General 
 **/

html {
    font-size: 16px;
}

body {
    background-color: hsl(206, 47%, 93%);
    font-family: "Karla", Arial, Helvetica, sans-serif;
    height: 100vh;
}

/**
 *  4. Single Price
 **/

.container {
    max-width: 350px;
    width: 90%;
    margin: 5em auto;
}

.single-price {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 12px 15px -3px rgba(166,166,166,1);
}

.single-price__box-1 {
    background-color: hsl(0, 0%, 100%);
    padding: 2em 1.4em;
    border-radius: 5px 5px 0 0;
}

.single-price__box-2 {
    background-color: hsl(179, 61%, 44%);
    padding: 2em 1.5em;
}

.single-price__box-3 {
    background-color: hsl(179, 47%, 52%);
    padding: 2em 1.5em;
    border-radius: 0 0 5px 5px;
}

.single-price__title { 
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 1.2em;
}

.single-price__subtitle-1 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.4em;
}

.single-price__subtitle-2 {
    font-size: 1.24rem;
    font-weight: bold;
    margin-bottom: 1.4em;
}

.single-price__description {
    font-size: 0.95rem;
    line-height: 1.7;
    margin-bottom: 0.3em;
}

.single-price__paragraph {
    font-size: 1.08rem;
    margin-bottom: 1.8em;
}

.single-price__price {
    display: flex;
    font-size: 1.9rem;
    font-weight: bold;
}

.single-price__billing-cicle {
    font-weight: lighter;
    align-self: center;
    font-size: 1.15rem;
    margin-left: 1em;
    opacity: 0.5;
}

.button {
    display: block;
    font-weight: bold;
    width: 100%;
    background-color: white;
    color: hsl(218, 22%, 67%);
    text-decoration: none;
    padding: 1em 1em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 12px 32px -13px rgba(61,61,61,1);
}

.button--primary {
    background-color: hsl(71, 73%, 45%);
    color: hsl(0, 0%, 100%);
}

.shutter-out-horizontal {
    position: relative;
    transform: translateZ(0);
}

.shutter-out-horizontal::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsl(71, 73%, 34%);
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition: 300ms ease-out;
    border-radius: 5px;
}

.shutter-out-horizontal:hover::before {
    transform: scaleX(1);
}

.single-price__list {
    font-size: 0.9rem;
    list-style-type: none;
}

.single-price__item {
    margin-bottom: .2em;
    opacity: 0.7;
}

.single-price--cyan {
    color: hsl(179, 47%, 52%);
}

.single-price--bright-yellow {
    color: hsl(71, 73%, 45%);
}

.single-price--grayish-blue {
    color: hsl(218, 22%, 67%);
}

.single-price--white {
    color: hsl(0, 0%, 100%);
}

/**
 *  5. Footer 
 **/

footer {
    display: none;
}

.attribution {
    font-size: 11px; 
    text-align: center; }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/**
 *  6. Media Queries
 **/

@media screen and (min-width: 700px) {

    .container {
        max-width: 675px;
        width: 100%;
    }

    .single-price {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .single-price__description {
        font-size: 1.05rem;
    }

    .single-price__box-1 {
        flex: 1 0 100%;
        padding: 2.5em 2.25em;
    }

    .single-price__box-2 {
        flex: 1;
        padding: 2.5em 2.5em;
        border-radius: 0 0 0 5px;
    }

    .single-price__box-3 {
        flex: 1;
        padding: 2.5em 2.25em;
        border-radius: 0 0 5px 0;
    }

    .single-price__subtitle-2 {
        font-size: 1.20rem;
    }

    .single-price__billing-cicle {
        font-size: 1.10rem;
    }

    .single-price__item {
        margin-bottom: .4em;
    }

}